/* Apply styles only when inside .login-page */
.login-page {
  max-width: none;
}

.login-page {
  font-family: "Poppins", sans-serif;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  background: linear-gradient(to bottom right, #ab9fda, #4136db, #4489f8);
}

.login-page .container {
  width: 50vw;
  height: 60vh;
  display: grid;
  grid-template-columns: 100%;
  grid-template-areas: "login";
  box-shadow: 0 0 17px 10px rgb(0 0 0 / 30%);
  border-radius: 20px;
  background: white;
  overflow: hidden;
}

.login-page .design {
  grid-area: design;
  display: none;
  position: relative;
}

.login-page .rotate-45 {
  transform: rotate(-45deg);
}

.login-page .design .pill-1 {
  bottom: 0;
  left: -40px;
  position: absolute;
  width: 80px;
  height: 200px;
  background: linear-gradient(#4facfe, #00c6fb, #0052d4);
  border-radius: 40px;
}

.login-page .design .pill-2 {
  top: -100px;
  left: -80px;
  position: absolute;
  height: 450px;
  width: 220px;
  background: linear-gradient(#4facfe, #00c6fb, #0052d4);
  border-radius: 200px;
  border: 30px solid #dbeafe;
}

.login-page .design .pill-3 {
  top: -100px;
  left: 160px;
  position: absolute;
  height: 200px;
  width: 100px;
  background: linear-gradient(#4facfe, #00c6fb, #0052d4);
  border-radius: 70px;
}

.login-page .design .pill-4 {
  bottom: -180px;
  left: 220px;
  position: absolute;
  height: 300px;
  width: 120px;
  background: linear-gradient(#4facfe, #00c6fb);
  border-radius: 70px;
}

.login-page .login {
  grid-area: login;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  position: relative;
  background: white;
}

.login-page .login h3.title {
  margin: 15px 0;
  color: #1e3a8a;
}

.login-page .text-input {
  background: #e0f2fe;
  height: 40px;
  display: flex;
  width: 60%;
  align-items: center;
  border-radius: 10px;
  padding: 0 15px;
  margin: 5px 0;
}

.login-page .text-input input {
  background: none;
  border: none;
  outline: none;
  color: #1e40af;
  width: 100%;
  height: 100%;
  margin-left: 10px;
}

.login-page .text-input i {
  color: #2563eb;
}

.login-page ::placeholder {
  color: #60a5fa;
}

.login-page .login-btn {
  width: 68%;
  padding: 10px;
  color: white;
  background: linear-gradient(to right, #4facfe, #00c6fb, #0052d4);
  border: none;
  border-radius: 20px;
  cursor: pointer;
  margin-top: 10px;
}

.login-page .error {
  font-size: 12px;
  color: #d12626;
}

.login-page a {
  font-size: 12px;
  color: #2563eb;
  cursor: pointer;
  user-select: none;
  text-decoration: none;
}

.login-page a.forgot {
  margin-top: 15px;
}

.login-page .create {
  display: flex;
  align-items: center;
  position: absolute;
  bottom: 30px;
}

.login-page .create i {
  color: #2563eb;
}

@media (min-width: 768px) {
  .login-page .container {
    grid-template-columns: 50% 50%;
    grid-template-areas: "design login";
  }

  .login-page .design {
    display: block;
  }
}
